.main-content {
  display: flex;
  margin-top: 60px; /* Adjust based on the height of the navbar */
}

.content {
  /* Adjust based on the width of the side panel */
  padding: 20px;
  flex-grow: 1;
}
