.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    z-index: 1000; /* Ensure the navbar is on top of other elements */
  }
  
  .navbar-logo img {
    height: 40px;
  }
  
  .navbar-search input {
    width: 300px;
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  
  .navbar-profile {
    display: flex;
    align-items: center;
  }
  
  .navbar-profile span {
    margin-right: 10px;
  }
  
  .profile-pic {
    height: 40px;
    width: 40px;
    border-radius: 50%;
  }

  .navbar-notifications {
    position: relative;
    margin-right: 20px;
  }

  .notification-icon {
    font-size: 20px;
    cursor: pointer;
    color: white;
  }

  .notification-icon:hover {
    color: #ccc;
  }